fastapi
uvicorn
pymongo
python-dotenv
python-multipart
python-jose
email-validator

google-genai

chromadb==1.5.9
langchain==0.3.27
langchain-community==0.3.27
sentence-transformers==5.1.0

PyMuPDF

bcrypt==4.1.2
passlib==1.7.4
resend==2.13.0